.bocy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60;
    border: 1px black inset;
    font-family: Raleway, sans-serif;
    margin: 0%;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position:fixed;
    width:100%;
    background-color:black;
    top:0;
    z-index:2;
    margin-top:-50px;
    margin-left:-10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
  }
  
  #navbar a{
    font-size:10pt;
    color:white;
    text-decoration-color: white;
    text-decoration-style: dashed;
    cursor:pointer;
  }
  
  #navbar a:hover{
    font-size:13pt;
    border:dashed 1px ghostwhite;
    text-decoration-color: transparent;
    cursor:pointer;
    transition: 0.3s;
  }
  
 
  

.collection{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border:  1px black inset;
}

.head{
    font-size: 3em;
}

.coll-container{
   margin-bottom:30px
}

.collection-img{
    max-width: 100%;
    height:auto;
}

.img-txt{
  font-size: 3em;
  margin-top: 4px;
  text-decoration: none;
  color: black;
}


.card-information{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 20px;
    place-items: center; 
    margin: 0; 
}

.card{
    position: relative; 
}

.card:hover{
    transition:  ease-in-out 0.3s;
   box-shadow: 6px 0px 1px rgba(34, 32, 32, 0.1);
   transform: translate( 0.5px, -5px);
}


.img-div{
    max-width: 100%;
    height:auto; 
}

.product-title{
    font-size: 1.8em;
    font-weight: 500;
    margin: 0;
}

.brand-name{
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.price-container{
    display: flex; 
    font-size: 1.9em;
    margin: 0;
}

.sale-icon{
    display: flex;
    border-radius: 15px;
    position: absolute;
    top: 30px;
    right: 40px;
}

.sale-button{
    background-color: rgb(212, 16, 16);
    border: none;
    font-size: 1.7em;
    border-radius: 18px;
    color: white;
}

.card-button{
    display: flex;  
    align-items: center;
    justify-content: center;
    border: dashed;
}

.order-button{
    font-size: 4em;
    border: none;
    background-color:  white;
}

.contact-head-div{
    background-color: blanchedalmond;
    margin: 0;
    padding: 6px;
}

.contact-head{
    font-size: 2em;
}

.contact-container{
    display: flex;
    justify-content: space-around;
    margin: 0%;
}

.contact{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: baseline;
    margin-top: 10px;
    cursor: pointer;
}

.c-h, .c-c, .c-t{
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-top: 10x;
    text-decoration: none;
    color: black;
    font-weight: 400;
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: column;
    
}

.fa-instagram, .fa-whatsapp, .fa-phone{
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sum4{
    display: flex;
    justify-content: center;
    align-items: center;
}



