.bocy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60;
    border: 1px black inset;
}



.collection{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border:  1px black inset;
}

.coll-container{
   margin-bottom:30px
}

.collection-img{
    max-width: 100%;
    height:auto;
}


.card-information{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    place-items: center; 
    border: 1px black inset;
   
}

.card{
    position: relative;

}

.img-div{
    max-width: 100%;
    height:auto; 
}

.product-title{
    font-size: 0.8em;
    font-weight: 600;
}

.brand-name{
    font-size: 1em;
    font-weight: 600;
}

.sale-icon{
    display: flex;
    border-radius: 15px;
    position: absolute;
    top: 30px;
    right: 40px;
}
.sale-button{
    background-color: rgb(212, 16, 16);
    border: none;
    font-size: 1.3em;
    border-radius: 18px;
    color: white;
}

.card-button{
    display: flex;  
    align-items: center;
    justify-content: center;
    border: dashed;
}


.order-button{
    font-size: 2em;
}